
dxcompiler.pdb
*.db
*.db-shm
*.opendb
*.vsidx
*.vsidx
*.vsidx
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/.suo
.vs/*
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/Browse.VC.db-wal
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/fileList.bin
.vs/dx12_renderer/v17/ipch/AutoPCH/558b3f858b2f9ca5/DX_WINDOW.ipch
x64/Release/dx12_renderer.tlog/dx12_renderer.lastbuildstate
x64/Release/dx12_renderer.tlog/link.write.2u.tlog
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/fileList.bin
.vs/dx12_renderer/v17/ipch/AutoPCH/558b3f858b2f9ca5/DX_WINDOW.ipch
x64/Release/dx12_renderer.tlog/dx12_renderer.lastbuildstate
.vs/dx12_renderer/v17/.suo
.vs/dx12_renderer/v17/fileList.bin
x64/Release/dx12_renderer.tlog/dx12_renderer.lastbuildstate
dx_window.obj
Dx12_Renderer.exp
Dx12_Renderer.lib
dx_window.obj
